{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <form action="/" method="post">
            <div class="section">
                <ul>
                </ul>

                <h2>Your Orders</h2>
                <table style="width:40%;text-align:center">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Email Address</th>
                            <th>Meal (1)</th>
                            <th>Meal Qty.</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for order in orders %}
                        <tr>
                            <td>{{order.date}}</td>
                            <td>{{order.userId}}</td>
                            <td>{{order.meal1Id}}</td>
                            <td>{{order.meal1Qty}}</td>
                                
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
    </form>
{% endblock %}
