{% extends "layout.html" %}

{% block title %}
    Meals
{% endblock %}

{% block main %}
<h2>All Past Orders</h2>
<div class="container">
    <div class="row text-wrap">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Date of Order Placement</th>
                        <th>Week ID</th>
                        <th>Order Deadline Date</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {%for order in orders %}
                    <tr>
                        <td>{{ order.userId }}</td>
                        <td>{{ order.date  }}</td>
                        <td>{{ order.weekId  }}</td>
                        <td>
                            {% for week in weeks %} 
                                {% if order.weekId == week.id %}
                                {{ week.deadlineDate }}
                                {% endif %} 
                            {% endfor %}
                        </td>
                        <td style="color:red">
                            <form action="/viewOrder" method="post" style="color:red">
                                <button name="id" value="{{order.id}}" style="color:red">
                                    View Order
                                </button>
                            </form>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}