{% extends "layout.html" %}

{% block title %}
    Meals
{% endblock %}

{% block main %}
<h2>All Past Orders</h2>
<div class="container">
    <div class="row text-wrap">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>User ID</th>
                        <th>Date</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>{{ order.userId }}</td>
                        <td>{{ order.date  }}</td>
                        <td style="color:red">
                            <form action="/viewOrder" method="post" style="color:red">
                                <button name="id" value="{{order.id}}" style="color:red">
                                    View Order
                                </button>
                            </form>
                        </td>
                    </tr>
                </tbody>
                {% for entry in order.entries %}
                <div>{{entry}}</div>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}