{% extends "layout.html" %}

{% block title %}
    Meals
{% endblock %}

{% block main %}
<h2>Past Order Details</h2>
<h5>This order was placed on {{ order.date }}</h5>
<div class="container">
    <div class="row text-wrap">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Meal Title</th>
                        <th>Quantity</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
                    {% for entry in order.entries %}
                    <tr>
                        <td>{{ entry.title }}</td>
                        <td>{{ entry.qty }}</td>
                    </tr>
                    {% endfor %}
                    </tr>
                        <!-- <td>{{ order.userId }}</td>
                        <td>{{ order.date  }}</td>
                        <td style="color:red">
                            <form action="/viewOrder" method="post" style="color:red">
                                <button name="id" value="{{order.id}}" style="color:red">
                                    View Order
                                </button>
                            </form>
                        </td> -->
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}